.sogan__body {
  margin-top: auto;
  margin-bottom: auto;
}
.sogan__body--description::before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 26px;
  position: relative;
  top: 15px;
  left: 8px;
  z-index: 2;
  background: url(../../assets/images/core/qt.png) no-repeat top left transparent;
}

.sogan__body--description::after {
  content: '';
  display: inline-block;
  width: 38px;
  height: 26px;
  position: absolute;
  z-index: 2;
  bottom: 28px;
  right: 5%;
  background: url(../../assets/images/core/qt.png) no-repeat top right transparent;
}
