.bg-curriculum {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position-y: 44%;
}

.menu-active {
  color: black;
  font-weight: 800;
  cursor: default;
  border-bottom: 4px solid #ff0000;
}

.menu-active-detail {
  color: #ff0000;
  font-weight: 800;
  cursor: default;
  border-bottom: 3px solid #ff0000;
}

.effect-curriculumDetail {
  transition: 1s;
}

@keyframes curriculumDetail {
  from {
    background-size: contain !important;
    transform: translate(40px, -85px);
  }
  to {
    background-size: contain !important;
    transform: translate(10px, 10px);
  }
}

.container-curriculumDetail__des {
}
/* @media only screen and (max-width: 767px) {
  .bg-curriculumDetail {
    margin-top: -145px;
    background-position-x: center;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1374px) {
  .bg-curriculumDetail {
    background-position-x: -120px;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1464px) {
  .imgProject {
    width: 46%;
    margin-right: 1rem;
  }
}

@media (min-width: 1280px) {
  .xl\:bg-left {
    background-position: left;
  }
} */

/*
BEGIN SCROLL BAR
*/
.scroll-box {
  width: 92%;
  height: 320px;
  overflow: auto;
}

.scroll-box::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-box::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
.scroll-box::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
.scroll-box::-webkit-scrollbar-thumb:hover {
  background: none;
}
/*
END SCROLL BAR
*/
