/* @layer {
  .nav-item {
    @apply w-24 font-bold bg-transparent text-center;
  }
  .nav-item:hover {
    @apply w-24 font-bold border-yellow-500 border-2 border-radius-2 rounded bg-transparent text-center;
  }
} */
.website-name{
  transform:translate(0,2.5rem);
}
.outside-custom-border {
  position: relative;
  padding: 0;
  height: 5rem;
  width:inherit;
  transform: translate(0, 2px);
  background-color: yellow;
  clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
  /* box-shadow: 5rem 5rem 5px 2rem #000; */
  /* box-shadow: 0 0 18px black; */
  box-shadow: 5px 10px #888888;
}

.custom-border {
  height: 5rem;  
  width: inherit;  
  background-color: white;
  transform: translate(0, -3px);
  clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
  
}

.behind-block {
  max-width:35rem;
  height:5rem;
  background-color: yellow;
  position: relative;
  transform: translate(0, -3.5rem);
  margin: auto auto;
  clip-path: polygon(0 0, 100% 0, 94% 100%, 6% 100%);
}


