/* tab process bar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.process-bar {
    position: relative;
    height: 50px;
    margin-top: 65px
}

.process-bar ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px;
}

.process-bar ul li {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    vertical-align: bottom;
    height: 60px;
    position: relative;
}

.process-bar ul li::after {
    cursor: pointer;
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    margin: auto;
    border: solid 3px #ed2f34;
    border-radius: 50%;
    margin-top: 40px;
}

.process-bar ul li.active::after {
    background: #ed2f34;
    outline: solid;
    outline-width: 3px;
    outline-color: #ed2f34;
    outline-offset: 10px;
    transition: outline-width ease 0.5s;
    transition: outline-offset 0.3s;
}


/* tab content */

.tag-content .tag-content-item .box {
    box-shadow: 0 0 10px black;
}

.tag-content .tag-content-item .box .slide-img {
    transition: transform 1s, filter 2s ease-in-out;
    transform: scale(1.2);
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
    border: none;
    box-sizing: border-box;
    /* height: 100%; */
}

.tag-content .tag-content-item .box .overlay {
    background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
    visibility: hidden;
    display: flex;
    align-items: center;
}

.tag-content .tag-content-item .box .overlay h3,
.tag-content .tag-content-item .box .overlay p {
    color: #fdf34e;
    align-items: center;
}

.tag-content .tag-content-item .box:hover .slide-img {
    padding: 2%;
    transform: scale(1);
    transition: all ease-in 0.5s;
}

.tag-content .tag-content-item .box:hover .overlay {
    visibility: visible;
    animation: fade 1s;
}


/* responsive  */


/* @media (max-width:998px) {
    .tag-content .tag-content-item .box {
        height: 280px;
    }
}
*/

@media (max-width: 768px) {
    .bottom-header {
        transform: translate(0, 80px);
    }
}