/* tab process bar */

.process-bar ul li::after {
  cursor: pointer;
  content: ' ';
  display: block;
  width: 25px;
  height: 25px;
  background: #fff;
  margin: auto;
  border: solid 3px var(--primary-color);
  border-radius: 50%;
  margin-top: 76px;
}

.process-bar ul li.active::after {
  background: var(--primary-color);
  outline: solid;
  outline-width: 3px;
  outline-color: var(--primary-color);
  outline-offset: 10px;
  /* transition: outline-width ease 0.5s; */
  transition: outline-offset 0.3s;
}

/* tab content */

.tab-content .tab-content-item .box .slide-img {
  transition: transform 1s, filter 2s ease-in-out;
  transform: scale(1.2);
  object-fit: cover;
  width: 100%;
  box-sizing: border-box;
}

.tab-content .tab-content-item .box .overlay {
  background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
  visibility: hidden;
  display: flex;
  align-items: center;
}

/* .tab-content .tab-content-item .box .overlay h3,
.tab-content .tab-content-item .box .overlay p {
    color: #fdf34e;
} */

.tab-content .tab-content-item .box:hover .product-slide-img {
  padding: 1.5%;
  transform: scale(1);
  transition: all ease-in 0.3s;
}

.tab-content .tab-content-item .box:hover .overlay {
  visibility: visible;
  animation: fade 1s;
}

/* responsive */

@media (max-width: 844px) {
  .process-bar ul li::after {
    display: none;
  }
  .process-bar ul li.active::after {
    display: none;
  }
  .process-bar ul li.active {
    color: #fff;
    background: var(--primary-color);
    border-radius: 15px 0px 15px 0;
    box-shadow: 0 0 10px #000;
    border: none;
  }
}

@media (max-width: 640px) {
  .process-bar ul li::after {
    display: none;
  }
  .process-bar ul li.active::after {
    display: none;
  }
  .products-tab {
    display: flex;
    margin: 0;
  }
  .products-tab .process-bar {
    width: 25%;
  }
  .products-tab .process-bar ul {
    padding-top: 0;
    flex-direction: column;
    border-right: 2px solid var(--primary-color);
    border-top: 2px solid rgb(229 231 235);
  }
  .products-tab .process-bar ul li {
    display: flex;
    align-items: center;
    width: 100% !important;
    cursor: pointer;
    border-bottom: 2px solid rgb(229 231 235);
  }
  .products-tab .process-bar ul li.active {
    color: #fff;
    background: var(--primary-color);
    border-radius: 15px 0px 15px 0;
    box-shadow: 0 0 10px #000;
  }
  .products-tab .process-bar ul li div {
    font-size: 1rem !important;
  }
  .products-tab .process-bar .process-bar-line {
    display: none;
  }
  .products-tab .tab-content {
    width: 75%;
  }
  .product-slide-img {
    height: 200px;
    object-fit: cover;
  }
}
