

.footer__background {
    background-image: url(../../assets/images/Footer_background.png);   
 
}
.footer__icon--center {
    margin: 0px 535px;
}

.footer__icon img {
    width: 50px;
}

.footer__icon {
    margin: 0px 10px 0px;
}