@tailwind components;

@layer components {
  .img-slide {
    @apply mt-3 md:mt-16;
  }
}

.bg-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  transition: 2s;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), var(--eerie-black)); */
}

.overlay {
  background: #1b1919bf;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-slide.slick-active {
  transition: 0.5s;
  cursor: pointer;
}

.slick-slide.slick-active.slick-center.slick-current {
  z-index: 10;
  zoom: 1.2;
  transform: scale(1.2);
  cursor: default;
  margin-top: -20px;
}

.slick-slide.slick-active.slick-center.slick-current img {
  box-shadow: 0 0 10px yellow;
}

.slick-slide.slick-active.slick-center.slick-current::after {
  content: '';
  display: block;
  position: relative;
  width: 50%;
  height: 1rem;
  top: 100%;
  margin: 0 auto;
  box-shadow: 0 10px rgba(227, 227, 7, 0.563);
  filter: blur(5px);
}
.slick-slide.slick-active.slick-center.slick-current img:hover {
  box-shadow: 0 0 18px yellow;
}
