@tailwind components;

@layer components {
}

.bg-slide {
  position: absolute;
  background-repeat: no-repeat;
  transition: 2s;
}

.overlay {
  background: #1b1919bf;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slick-slide {
  position: relative;
  margin-top: 70px;
}

.slick-slide img {
  border-radius: 24px;
}

.slick-list {
  padding: 0px 0px !important;
}

.slick-slide.slick-active {
  transform: scale(1);
  transition: 0.5s;
  cursor: pointer;
}

.slick-slide.slick-active img {
  z-index: 9;
}

.slick-slide.slick-active.slick-center.slick-current {
  z-index: 10;
  zoom: 1.2;
  transform: scale(1.3);
  cursor: default;
}

.slick-slide.slick-active.slick-center.slick-current img {
  box-shadow: 0 0 10px yellow;
}

.slick-slide.slick-active.slick-center.slick-current::after {
  content: '';
  display: block;
  position: relative;
  width: 50%;
  height: 1rem;
  top: 100%;
  margin: 0 auto;
  box-shadow: 0 10px rgba(227, 227, 7, 0.563);
  filter: blur(5px);
}
.slick-slide.slick-active.slick-center.slick-current img:hover {
  box-shadow: 0 0 18px yellow;
}

.slick-dots {
  bottom: 0px !important;
}

.slick-dots li.slick-active button:before {
  color: #ffffff;
}

.slick-dots li button:before {
  color: #ffffff;
}

.slick-prev {
  left: -18px;
}
.slick-next {
  right: -18px;
}

@media only screen and (max-width: 640px) {
  .slick-slide {
    margin-top: 25px;
  }

  .bg-slide {
    background-position-x: center;
  }
  .slick-dots {
    position: relative;
    margin-bottom: 100px;
  }
}
