:root {
    --red: #ed2f34;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    max-width: 100vw;
    margin: auto;
}

.title {
    color: var(--red);
    text-align: center;
    text-transform: uppercase;
}

.process-wrapper {
    margin: auto;
    width: 100%;
}

.process-wrapper #top-content ul {
    display: flex;
    bottom: -48px;
    gap: 1.5rem;
    /* height: 150px; */
}

.process-wrapper #top-content ul li img {
    object-fit: cover;
}

.process-wrapper #top-content ul .brand {
    /* content: ''; */
    display: flex;
    margin: auto;
    width: 250px;
    height: 150px;
    /* justify-content: center; */
    align-items: center;
}

.process-wrapper #top-content ul .point {
    content: '';
    display: block;
    margin: auto;
    width: 250px;
    height: 150px;
    border-radius: 10%;
    border: solid 2px var(--red);
    transition: all ease 0.5s;
    background: var(--white);
}

.process-wrapper #progress-bar-container,
.process-wrapper #top-content {
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 59px;
}

.process-wrapper #progress-bar-container ul,
.process-wrapper #top-content ul {
    position: absolute;
    width: 100%;
    padding-top: 15px;
    margin-top: -40px;
    list-style: none;
    z-index: 99;
}

.process-wrapper #progress-bar-container ul .step::before {
    content: '';
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px var(--red);
    transition: all ease 0.5s;
    background: var(--white);
}

.process-wrapper #progress-bar-container ul .step::before::before {
    content: '';
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    border: solid 2px var(--red);
    background: var(--white);
}

.process-wrapper #progress-bar-container ul .step::after {
    content: '';
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px var(--red);
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.5s;
    background: var(--white);
}

.process-wrapper #progress-bar-container ul li.active:before,
.process-wrapper #progress-bar-container ul li:hover:before {
    background: var(--red);
}

.step-inner::before {
    content: '';
    color: #348e80;
    width: 2px;
    height: 50px;
    background: #348e80;
    position: absolute;
    top: -50px;
    left: 50%;
    position: absolute;
    top: -32px;
    z-index: -1;
}

.process-wrapper #progress-bar-container ul li,
.process-wrapper #top-content ul li {
    float: left;
    width: 20%;
    text-align: center;
    cursor: pointer;
    transition: all ease 0.5s;
    vertical-align: bottom;
    height: 59px;
    position: relative;
}

.process-wrapper #progress-bar-container ul li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 1.6rem;
}

.process-wrapper #progress-bar-container #line {
    width: 90%;
    margin: auto;
    background: var(--red);
    height: 5px;
    position: absolute;
    left: 3%;
    top: 130px;
    z-index: 1;
    border-radius: 50px;
}

.ach-border {
    height: 250px;
    width: 150px;
}